################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.exe
**/obj/
**/bin/
*.dll
*.pdb
*.cache
/Source/Filemonitor.ClassLibrary/obj/Debug/Filemonitor.ClassLibrary.csproj.FileListAbsolute.txt
