<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScanRoot" value="\\nas02\three\E-Books" />
  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="Default"  />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>